<app-header-main-page></app-header-main-page>

<form [formGroup]="loginForm" >
    <h2>Iniciar sesión</h2>
    <br>
    <p>Usuario :</p>
    <input type="text" placeholder="Nombre de usuario" formControlName="usuario">
    <p>Contraseña:</p>
    <input type="password" placeholder="Contraseña" formControlName="password"> 
    <br><br>
    <a routerLink="/register">¿No tienes una cuenta?</a>
    <br><br>
    <button type="button" (click)="onLogin(loginForm.value)" >Iniciar sesión</button>
    <br><br>
    
</form>