<div class="container">
    <div class="user-time">
        <p>Publicado por <a routerLink="/profile">USER</a> el DATE</p>
    </div>
    <div class="body">
        <h2 class="post-title" routerLink="/viewpost">Titulo</h2>
        <p class="post-text">Texto: Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas sit possimus natus fugiat reprehenderit enim eaque corrupti fuga facere nihil. Vel accusantium sequi hic perferendis eaque at cumque possimus veniam.</p>
        <img src="../../assets/cats.jpg" alt="Imágen de publicación">
    </div>
    <br>
    <hr />
    <div class="btn-list">
        <button routerLink="/viewpost">Comentar</button>
        <button>Votar</button>
    </div>
</div>