.container{
    width: 60%;
    margin: auto;
    margin-top: 100px;
}
.user{
    height: 64px;
    width: 64px;
    border-radius: 100px;
}
.image{
    max-width: 500px;
    max-height: 500px;
}
.create-post{
    --post-line-color: #ccc;
    border: 1px solid #ccc;
    margin:10px;
    overflow: hidden;
    background-color: white;
    border-radius: 4px;
    padding: 5px;
    padding-bottom: 10px;
}
.create-post p{
    padding-left: 10px;
    font-size: 18px;
}
input{
    margin-left: 15px;
    width: 100%;
    height: 50px;
    font-size: 18px;
    color: #000;
    outline: none;
    font-size: 100%;
    border-radius: 5px;
    border: none;
    background-color: #f0f2f5;
    padding-left: 10px;
}
.containerPost{
    --post-line-color: #ccc;
    border: 1px solid #ccc;
    margin:10px;
    overflow: hidden;
    background-color: white;
    border-radius: 4px;
    padding: 10px;
}
.post-title {
    font-size: 28px;
    font-weight: bold;
    opacity: 1;
}
.post-title:hover {
    opacity: 0.6;
}
.user-time{
    color: gray;
}
.post-text{
    margin-top: 10px;
}
.btn-list{
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}
button{
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
    border: 0;
    background-color: rgba(255, 255, 255, 0.8);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14;
}
button:hover{
    background-color: #6394bf;
    color:#e9f6ff;
}
 
button:active{
    background-color: #e9f6ff;
}
.comment{    
    --post-line-color: #ccc;    
    border: 1px solid #ccc;    
    margin:10px;
    overflow: hidden;
    background-color: rgba(255,255,255,0.8);
    color: #878A8C;
    position: relative;
    border-radius: 4px;
    padding:5px;
}
.comment-text{
    padding-left: 15px;
    color: black;
    font-size: 20px;
}
