<app-header></app-header>

<div class="container">

    <div class="create-post">
        <p>Escribe una publicación:</p>
        <input type="text" placeholder="Publicar" routerLink="/createpost">
    </div>

    <div class="containerPost" *ngFor=" let post of posts" >
        <div (click)="viewPost(post.id_post)">
            <div class="user-time" >
                <p >Publicado el {{post.fecha | date:"dd-MM-yy"}} a las {{post.fecha | date:"hh:mm"}}</p>
            </div>
            <div class="body">
                <h2 class="post-title" >{{post.titulo}}</h2>
                <p class="post-text">{{post.descripcion}}</p>
                <img class="image" src={{post.imagen_es}} alt="Imágen de publicación">
            </div>
        </div>
        
        <br>
        <hr />
        <div class="btn-list">
            <button routerLink="/createcomment" (click)="GetIDPost(post.id_post)">Comentar</button>
            <button (click)="like(post.id_post)" name="btnLike"><img src="../../assets/heart-icon.png" height ="20" width="20"/>{{post.valoracion}}</button>
        </div>
    </div>
    
    <div class="comment" *ngFor=" let comment of comments">
        <div class="user-time">
        
        </div>
        <p class="comment-text">{{comment.comentario}}</p>
    </div>

</div>
