.white{
    background-color: white;
    
}
.white p{
    font-size: 30px;
    text-align: left;
    padding-left: 30px;;
}
.header{
    display: flex;
    padding: 10px 150px 0px 150px;
    margin: auto;
    width: 60%;
    margin-top: 76px;
}
.username{
    font-size: 20px;
}
.header-btn{

    margin-left: 30%;
}
button{
    background-color: #6394bf;
    padding: 10px 50px 10px 50px;
    border-radius: 20px;
    border: 0;
    color:#e9f6ff;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14;
    margin: 15px;
}

button:hover{
    background-color: lightblue;
}
    
button:active{
    background-color: #e9f6ff;
}
.mytabs {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 60%;
    padding: 25px;
}
.mytabs input[type="radio"] {
    display: none;
}
.mytabs label {
    padding: 15px;
    background-color: white;
}

.mytabs .tab {
    width: 100%;
    padding: 20px;
    background-color: #f0f2f5;
    order: 1;
    display: none;
}
.mytabs .tab h3 {
    font-size: 2em;
}

.mytabs input[type='radio']:checked + label + .tab {
    display: block;
}

.mytabs input[type="radio"]:checked + label {
    background-color:#6394bf;
    border-top-right-radius: 20px;

}
.logo img{
    height: 100px;
    width: 100px;
    margin-right: 10px;
    border-radius: 100px;
}
.comment{    
    --post-line-color: #ccc;    
    border: 1px solid #ccc;    
    margin:10px;
    overflow: hidden;
    background-color: rgba(255,255,255,0.8);
    color: #878A8C;
    position: relative;
    border-radius: 4px;
    padding:5px;
}
.comment-text{
    padding-left: 15px;
    color: black;
    font-size: 20px;
}
.container{
    width: 60%;
    margin: auto;
    margin-top: 100px;
}
.user{
    height: 64px;
    width: 64px;
    border-radius: 100px;
}
.image{
    max-width: 500px;
    max-height: 500px;
}
.containerPost{
    --post-line-color: #ccc;
    border: 1px solid #ccc;
    margin:10px;
    overflow: hidden;
    background-color: white;
    border-radius: 4px;
    padding: 10px;
}
.post-title {
    font-size: 28px;
    font-weight: bold;
    opacity: 1;
}
.post-title:hover {
    opacity: 0.6;
}
.user-time{
    color: gray;
}
.post-text{
    margin-top: 10px;
}